# Your Timezone
TZ=Europe/Paris

# User and Group ID (run `id` in terminal to check yours)
PUID=1000
PGID=1001

# Application Ports
JELLYFIN_PORT=8096
SONARR_PORT=8989
RADARR_PORT=7878
BAZARR_PORT=6767
LIDARR_PORT=8686
PODGRAB_PORT=8080
PROWLARR_PORT=9696
FLARESOLVERR_PORT=8191
PORTAINER_PORT=9000
SEERR_PORT=5055

# WireGuard Ports
WIREGUARD_PORT=51820
TRANSMISSION_PEER_PORT=51413
TRANSMISSION_WEB_PORT=9091
RDTCLIENT_PORT=6500

# Directory Paths
# ROOT_DIR is where your 'configs' and 'data' folders will live
# Usually the current directory if you run docker compose from the install folder
ROOT_DIR=.
CONFIG_DIR=./configs
DATA_DIR=./data
